body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  padding-top: 30px;
  background-color: #eee;
}

.center-bg {
  text-align: center;
  font-weight: 600;
  margin: 0.5em 0 1em 0;
  position: relative;
}

.next-button {
  text-decoration:none;
  color:black;
  font-size:12px;
  font-weight:bold;
  padding:0 15px;
  line-height:32px;
  height: auto;
  display:inline-block;
  text-align:center;
}

.next-button{
  background-color: #4BC94D;
}

.next-button:hover{
  background-color:#6fd471;
}

.logo {
  background: url('/images/townborder.png') no-repeat center center fixed;
  width: 100%;
  height:400px;
  position: absolute;
}

