.map-background {
    background-color: #030f19;
}

.padding {
    padding: 1em;
}

.heco {
    color: white;
    font-size: 40px;
}

h4 {
    color: white;
    text-align: center;
}

.revenue {
    color: #59b655;
    text-align: center;
    margin-top: 0;
}

.pBold {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    color: white;
}

p {
    text-align: center;
    font-size: 10px;
    color: #717478;
}

.ui.accordion .title:not(.ui) {
    padding: 0!important;
}

.stationSelected {
    background-color: #313438;
}
