.map-background {
    background-color: #030f19;
}

.padding {
    padding: 1em;
}

.heco {
    color: white;
    font-size: 45px;
}

h4 {
    color: white;
    text-align: center;
    font-size: small;
}

h2 {
    color: #59b655;
    text-align: center;
    margin-top: 14px;
}

.pBold {
    text-align: center;
    font-weight: bold;
}

p {
    text-align: center;
}
